.event-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: row dense;
  align-items: normal;
}

event-vignette a,
event-vignette a:visited {
  text-decoration: none;
  color: inherit;
}

event-vignette div.box {
  height: 100px;
  width: 200px;
  overflow: hidden;
}

event-vignette img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}