name: Deploy to S3
on:
  push:
    branches:
    - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: sleavely/node-awscli:14.x
    steps:
    - uses: actions/checkout@v2
    - run: sed -i 's/staging.api.footlight.io/api.footlight.io/g' index.html
    - run: sed -i 's/staging.api.footlight.io/api.footlight.io/g' footlightApi.js
    - run: aws s3 sync . s3://demo.tout-culture --acl public-read --delete
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
        AWS_REGION: ca-central-1 
        WEBHOSTING_BUCKET_NAME: demo.tout-culture